  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    /* Adjust the height as per your requirements */
    background-color: #3f3f3f;
    color: #b3b3b3;
    padding: 10px;
    text-align: center;
  }