header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
  }
  
  .logo {
    margin-right: 10px;
  }
  
  .logo img {
    max-height: 30px; /* Adjust the height as per your logo's dimensions */
  }